<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/img/line.png" width="100%" height="100%" alt="">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 text-center">
      <p class="h1 bold">The Benefits of Becoming a Member...</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-4">
      <img src="assets/img/hand.svg" class="photoSize" alt="">
    </div>
    <div class="col-sm-4">
      <img src="assets/img/binoculars.svg" class="photoSize" alt="">
    </div>
    <div class="col-sm-4">
      <img src="assets/img/university.svg" class="photoSize" alt="">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 text-center">
      <p class="h1 bold">
        keep track of your donations
      </p>
    </div>
  </div>
</div>
