<div class="purple text-white text-center">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-8 mx-auto">
        <h2 class="font-calibri h1 mb-5 bold">About Unity</h2>
        <p class="h2 font-calibri">Unity is a multi-associational platform which brings Tunisian Society into one place to ensure a
          better and more credible charity work between the organization, the volunteer and the receiver , it includes
          all sorts of associations including human rights, law, public utility, animal care,...etc</p>

      </div>
    </div>
  </div>
</div>
