<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">




  <footer>
    <!-- Footer main -->
    <section class="ft-main">
      <div class="ft-main-item">
        <h2 class="ft-title">Quick Links</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Work</a></li>
          <li><a href="#">Project</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Contact Us</h2>
        <ul class="contact-ul">
          <li>
            <i class="fas fa-phone-alt"></i>
            <div class="ft-main-icon">
              <p>(+977) 1-4784495</p>
            </div>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <div class="ft-main-icon">
              <p>sujanbasnyet334@gmail.com</p>
            </div>
          </li>
          <li> <i class="fas fa-map-marker-alt"></i>
            <div class="ft-main-icon">
              <p>31, Shankhamul , Kathmandu</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- Footer social -->


    <!-- Footer legal -->
    <section class="ft-social">
      <ul class="ft-social-list">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li>&copy; 2020 Copyright CompanyName Inc.</li>
      </ul>
    </section>
  </footer>
