<div class="page-content">
  <div class="form-v9-content" style="background-image: url('../assets/img/form-v9.jpg')">
    <form class="form-detail" #f="ngForm">
      <h2>Registration Event </h2>
      <div class="form-row-total">
        <div class="form-row">
          <input type="text" name="titleEvent"  class="input-text" placeholder="Title Event" ngModel>
        </div>
        <div class="form-row">
          <select name="typeEvent" class="input-text" ngModel>
            <option value="">--Please choose type of event--</option>
            <option value="Debate Conference">Debate Conference</option>
            <option value="Sport Event">Sport Event</option>
            <option value="Show or Concert">Show or Concert</option>
            <option value="Fundraising Event">Fundraising Event</option>
            <option value="Workshop or Formation">Workshop or Formation</option>
            <option value="Other">Other</option>
        </select>
        </div>
      </div>

      <div class="form-row-total">
        <div class="form-row">
          <select name="publicEvent" class="input-text" [(value)]="publicValue" ngModel>
            <option value="">--Private or Public Event--</option>
            <option [ngValue]="false">Private</option>
            <option [ngValue]="true">Public</option>
        </select>
        </div>
        <div class="form-row">
          <input type="text" name="association"  class="input-text" placeholder="Association" ngModel>
          <!--<select name="associations" class="input-text" [(value)]="assocValue"  ngModel>
            <option [ngValue]="null">--Association--</option>
            <option *ngfor= "let assoctiations of association" [ngValue]="assoctiations.id">{{assoctiations.name}}</option>
        </select>-->
        </div>
      </div>

      <div class="form-row-last">
        <textarea type="text" name="descriptionEvent" class="input-text" placeholder="Description Event" ngModel></textarea>
      </div>
      <div class="form-row-total">
        <div class="form-row">
        <input  type="date" class="form-control input-round"  placeholder="Choose the date of event" name="dateEvent" ngModel>
      </div>
      <div class="form-row">
      <input type="file" class="input-text" id="customFile" />
    </div>
    </div>






      <!--<div class="form-row-last">
        <input type="file" class="input-text" id="customFile" />
      </div>-->

      <div class="form-row-last">
        <input type="submit" name="register" class="register" value="Register" (click)="addevent(f.value)">
      </div>
    </form>
  </div>
</div>
