<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="assets/img/login.png" width="100%" height="100%" alt="login">
    </div>
    <div class="col-sm-6 m-auto">
      <div class="row">
        <div class="col-8 mx-auto">
          <h1 class="h1 text-center">Register</h1>
 <form >
  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input type="text" name="fullName" id="fullName" class="form-control input-round" placeholder="">

  </div>
  <div class="form-group">
    <label for="birthdate">Birth Date</label>
    <input type="date" name="birthdate" id="birthdate" class="form-control input-round" placeholder="">

  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="form-control input-round" placeholder="">

  </div>
  <div class="form-group">
    <label for="confirmMail">Confirm Email</label>
    <input type="email" name="confirmMail" id="confirmMail" class="form-control input-round" placeholder="">

  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control input-round" placeholder="">

  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-round" placeholder="">

  </div>
  <div class="text-center mx-auto">
    <button class="btn btn-lg btn-block btn-login" type="submit">Register</button>
  </div>

 </form>
 <p>Already having account? <a [routerLink]="['/login']" class="create float-right">Sign in</a></p>
        </div>


      </div>
    </div>
  </div>
</div>
