<div class="container">
  <div class="row">
    <h1 class="titleRose text-center">Publications</h1>
  </div>
  <!--  begin search bar -->
  <div class="row">
    <div class="col-3 my-auto text-gray font-30">Advanced search</div>
    <div class="col-sm-3">
      <span>Region</span>
      <br>
      <select class="round-input" name="region">
        <option value="Tunis">Tunis</option>
        <option value="Ariana">Ariana</option>
        <option value="Béja">Béja</option>
        <option value="Ben Arous">Ben Arous</option>
        <option value="Bizerte">Bizerte</option>
      </select>

    </div>
    <div class="col-sm-3">
      <span>Type</span>
      <br>
      <select class="round-input" name="type">
        <option value="Human rights">Human rights</option>
        <option value="Law">Law</option>
        <option value="Public utility">Public utility</option>
        <option value="Animal Care">Animal Care</option>
        <option value="Environement">Environement</option>
      </select>
    </div>
    <div class="col-sm-3">
      <span>Date</span>
      <br>
      <input type="date" class="round-input" name="date">
    </div>
  </div>
  <!--  begin search bar -->
  <div class="row mt-5">
        <!--  begin Sante -->
        <div class="col-10 m-auto border border-dark my-3">
          <div class="row">
            <div class="col-3">
              <img class="card-img-top" src="assets/img/associations/sante.png" alt="Card image cap">

            </div>
            <div class="col-6 m-auto">
              <p class="text-justify">L’Association Santé et Environnement (A.S.E.) a été créée en 1995 dans le but de promouvoir une exigence fondamentale de l’Homme : vivre en bonne santé dans un environnement sain et équilibré. L’ASE est une ONG ….</p>
            </div>
            <div class="col-3 m-auto text-center">
              <button class="btn-round-purple text-center">Learn more</button>
              <br>
              <a href="" class="link-purple text-center">or support by joining</a>
            </div>
          </div>
        </div>
        <!--  end Sante -->
    <!--  begin Benevolat -->
    <div class="col-10 m-auto border border-dark my-3">
      <div class="row">
        <div class="col-3">
          <img class="card-img-top" src="assets/img/associations/benevol.png" alt="Card image cap">

        </div>
        <div class="col-6 m-auto">
          <p class="text-justify">Tunisie Bénévolat est une plateforme qui rapproche bénévoles et associations !</p>
        </div>
        <div class="col-3 m-auto text-center">
          <button class="btn-round-purple text-center">Learn more</button>
          <br>
          <a href="" class="link-purple text-center">or support by joining</a>
        </div>
      </div>
    </div>
    <!--  end Benevolat -->

   <!--  begin association massar -->
   <div class="col-10 m-auto border border-dark my-3">
    <div class="row">
      <div class="col-3">
        <img class="card-img-top" src="assets/img/associations/liberte.png" alt="Card image cap">

      </div>
      <div class="col-6 m-auto">
        <p class="text-justify">Massar pour le développement culturel , est une association tunisienne , non gouvernementale , indépendante , fondée par des jeunes de la gouvernorat Manouba...</p>
      </div>
      <div class="col-3 m-auto text-center">
        <button class="btn-round-purple text-center">Learn more</button>
        <br>
        <a href="" class="link-purple text-center">or support by joining</a>
      </div>
    </div>
  </div>
  <!--  end association massar -->
  </div>
</div>
