@import url('http://fonts.cdnfonts.com/css/rebutan-free-trial');
.titleRose{
  color: #e80175;
}
.round-input{
  border-radius: 35px;
  width: 90%;
  height: 35px;
}
.text-gray{
  color: #8b8ab5;

  font-family: calibri;
}
.font-30{
  font-size: 30px;
}
.card{
  border-radius: 35px;
  border-color: #707070;
  padding-bottom: 10px;
}
.share{
  border: 1px solid black;
  width: 39px;
    font-size: 21px;
    text-align: center;
    padding: 5px;
    margin-left: 3px;
    position: absolute;
    margin-top: 10px;
    background: white;
    cursor: pointer;
    box-shadow: 1px 1px gray;
}
mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
  -webkit-line-clamp: 2;
}

.content > mat-card {
  margin-bottom: 2;

}

.content > mat-card {
  height: 50px;
}

.actions > mat-card {
  height: 10px;
}
::ng-deep .mat-card{

    border-radius: 20px !important;
 }
 p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #757575;
      line-height: 1.5;
  }
  mat-card-title{
    color: rebeccapurple;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
.content h3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: rgb(132, 94, 170);;
  font-family: 'Rebutan Free Trial','Bold' ,sans-serif;
  min-width: 75px;
  text-align: center;
  text-transform: uppercase;
}
.purple{
  color: #707070;
}
.center {
  text-align: center;
}
